Repository boog9/paypay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paypay/maintainers, @paypay/devsecops, @paypay/backend-leads, @paypay/frontend-leads, @paypay/platform

Add default uuid for managed store ids
  apps/bff/src/migrations/1730000000000-add-default-uuid-to-managed-stores.ts
Owners: @paypay/maintainers

Harden BTCPay webhook handling and store cleanup
  apps/bff/src/hooks/hooks.module.ts
  apps/bff/src/hooks/hooks.service.ts
  apps/bff/src/migrations/1730500000000-add-webhook-fields-to-managed-stores.ts
  apps/bff/src/stores/managed-store.entity.ts
  apps/bff/src/stores/stores.controller.ts
  apps/bff/src/stores/stores.service.ts
  apps/bff/test/hooks.idempotency.spec.ts
  apps/bff/test/hooks.service.spec.ts
  apps/bff/test/hooks.signature.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/stores.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
  apps/frontend/app/(dashboard)/dashboard-gate.tsx
  apps/frontend/app/(dashboard)/onboarding/create-store/page.tsx
  apps/frontend/app/(dashboard)/stores/[storeId]/page.tsx
  apps/frontend/app/(dashboard)/stores/page.tsx
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/src/components/stores/store-selector.tsx
  apps/frontend/src/contexts/store-context.tsx
  apps/frontend/src/lib/store-preferences.ts
Owners: @paypay/maintainers

refactor: align btcpay onboarding and routing
  apps/bff/src/hooks/hooks.service.ts
  apps/bff/src/stores/stores.service.ts
  apps/bff/test/hooks.service.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/stores.service.spec.ts
  apps/frontend/app/(dashboard)/dashboard-gate.tsx
  apps/frontend/app/(dashboard)/stores/[storeId]/page.tsx
Owners: @paypay/maintainers

Make store dashboard page a client component
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
Owners: @paypay/maintainers

Fix store redirect page props for Next 15
  apps/frontend/app/(dashboard)/stores/[storeId]/page.tsx
Owners: @paypay/maintainers

feat: add btc wallet wizard and btcpay payment methods client
  apps/bff/src/app.module.ts
  apps/bff/src/btcpay/btcpay.module.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

Address BTCPay wallet preview feedback
  apps/bff/package.json
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/e2e/utils/cookies.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
  pnpm-lock.yaml
Owners: @paypay/backend-leads, @paypay/maintainers

Fix BTC wallet lint issues
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

Fix Next.js page props and add bip39 types
  apps/bff/src/types/bip39.d.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
Owners: @paypay/maintainers

Fix unnecessary type assertion in wallet DTO
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
Owners: @paypay/maintainers

fix(bff): rely on global csrf guard and parsers
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.module.ts
  apps/bff/src/auth/guards/csrf.guard.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/security/csrf.guard.ts
  apps/bff/src/security/csrf.service.ts
  apps/bff/src/security/security.module.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
Owners: @paypay/maintainers

Fix unused encoding parameter in BTCPay webhook middleware
  apps/bff/src/bootstrap/app-configuration.ts
Owners: @paypay/maintainers

Fix lint error in assignRawBody
  apps/bff/src/bootstrap/app-configuration.ts
Owners: @paypay/maintainers

Restore POST wallet preview and enforce CSRF refresh sequence
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings-placeholder/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/lib/api.test.ts
  apps/frontend/lib/api.ts
  apps/frontend/lib/auth.ts
Owners: @paypay/maintainers

Align preview payloads with Greenfield config schema
  README.md
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

Fix fetch request url helper type guard
  apps/frontend/lib/api.test.ts
Owners: @paypay/maintainers

Tighten BTCPay wallet wizard error handling
  README.md
  apps/bff/src/btcpay/btcpay.errors.ts
  apps/bff/src/btcpay/btcpay.keys.service.ts
  apps/bff/src/btcpay/btcpay.module.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

feat: persist wallet metadata and use on-chain status read model
  README.md
  apps/bff/src/app.module.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/migrations/1731000000000-create-managed-store-wallets.ts
  apps/bff/src/stores/managed-store.entity.ts
  apps/bff/src/wallets/entities/managed-store-wallet.entity.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/database/data-source.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

Fix unnecessary type assertion in onchain wallet tests
  apps/bff/test/onchain-wallets.service.spec.ts
Owners: @paypay/maintainers

Ensure BTC wallet config fetch requests includeConfig
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/e2e/wallet-settings.spec.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

refactor: harden BTC wallet status fetch
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
Owners: @paypay/maintainers

Fix BTC wallet page UI component imports
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
Owners: @paypay/maintainers

Fix BTCPay on-chain preview endpoint mapping
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
Owners: @paypay/maintainers

Handle BTCPay root fingerprint alias and 422 errors
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
Owners: @paypay/maintainers

fix: align descriptor checksum alphabet
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.ts
Owners: @paypay/maintainers

Remove unused sensitive error message import
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
Owners: @paypay/maintainers

fix(wallet-preview): migrate to BTCPay 2.x preview route, use BTC-CHAIN paymentMethodId, pass params via GET; UI wizard cleanup + tests
  apps/bff/src/btcpay/btcpay.constants.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
Owners: @paypay/maintainers

Refine BTC wallet preview routing and request context
  apps/bff/src/auth/decorators/req-user.decorator.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/lib/api.ts
Owners: @paypay/maintainers

Sanitize user email before normalization
  apps/bff/src/wallets/onchain-wallets.service.ts
Owners: @paypay/maintainers

Fix unsafe Axios response handling in BTCPay service
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
Owners: @paypay/maintainers

Normalize missing account path in BTC preview controller
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.ts
Owners: @paypay/maintainers

Ensure BTCPay preview proxies 422 responses
  apps/bff/src/btcpay/btcpay.keys.service.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
Owners: @paypay/maintainers

Fix lint issues in BTCPay error handling
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
Owners: @paypay/maintainers

feat(bff): add server info service
  apps/bff/src/btcpay/btcpay.module.ts
  apps/bff/src/btcpay/btcpay.server-info.service.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/test/btcpay.server-info.service.spec.ts
Owners: @paypay/maintainers

Update BTC on-chain payment method routes and payloads
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
Owners: @paypay/maintainers

Use BTCPay preview result in wallet wizard
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
Owners: @paypay/maintainers

Tighten shared cookie domain handling
  README.md
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/cookie-names.ts
  apps/bff/src/auth/cookies.util.ts
  apps/bff/src/auth/guards/jwt-auth.guard.ts
  apps/bff/src/security/csrf.service.ts
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.cookies.util.spec.ts
  apps/bff/test/shared-cookie-domain.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/page.tsx
  apps/frontend/e2e/auth-flow.spec.ts
  apps/frontend/lib/auth.ts
  apps/frontend/lib/bff-fetch.ts
  apps/frontend/lib/server-api.ts
  deploy/docker/examples/auth-smoke.sh
  eslint.config.mjs
Owners: @paypay/maintainers

Fix lint errors for cookies util tests
  apps/bff/src/auth/cookies.util.ts
  apps/bff/test/shared-cookie-domain.spec.ts
Owners: @paypay/maintainers

Refactor BTC wallet summary handling
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/e2e/wallet-settings.spec.ts
  apps/frontend/next.config.ts
Owners: @paypay/maintainers, @paypay/frontend-leads

chore: remove unused onchain wallet test constant
  apps/bff/test/onchain-wallets.service.spec.ts
Owners: @paypay/maintainers

.github/CODEOWNERS:

# Default owners
* @paypay/maintainers

# Critical infrastructure
infra/* @paypay/devsecops
apps/bff/* @paypay/backend-leads
apps/frontend/* @paypay/frontend-leads
packages/sdk/* @paypay/platform
