Repository boog9/paypay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paypay/maintainers, @paypay/devsecops, @paypay/backend-leads, @paypay/frontend-leads, @paypay/platform

Fix lint issues across BFF and frontend
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/hooks/hooks.controller.ts
  apps/bff/src/http/raw-body-request.ts
  apps/bff/src/main.ts
  apps/bff/src/tenants/tenants.controller.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/tenants.service.spec.ts
  apps/frontend/app/(marketing)/portal/portal-client.tsx
  apps/frontend/components/store-selector.tsx
  apps/frontend/components/user-menu.tsx
  eslint.config.js
Owners: @paypay/maintainers

feat: scaffold dashboard shell and store selector
  apps/bff/src/main.ts
  apps/frontend/app/(app)/dashboard/page.test.tsx
  apps/frontend/app/(app)/dashboard/page.tsx
  apps/frontend/app/(app)/stores/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/app/page.tsx
  apps/frontend/app/providers.tsx
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/components/stores-nav-list.tsx
  apps/frontend/src/components/dashboard/dashboard-content.tsx
  apps/frontend/src/components/stores/store-selector.tsx
  apps/frontend/src/hooks/use-stores.ts
Owners: @paypay/maintainers

Fix dashboard page test mock typing
  apps/frontend/app/(app)/dashboard/page.test.tsx
Owners: @paypay/maintainers

Fix dashboard store hook mock to satisfy lint
  apps/frontend/app/(app)/dashboard/page.test.tsx
Owners: @paypay/maintainers

Handle missing BFF URL in frontend API client
  apps/frontend/lib/api.ts
Owners: @paypay/maintainers

Handle missing BFF URL in frontend config
  apps/frontend/lib/bff.ts
Owners: @paypay/maintainers

Use host-only auth cookies and harden CSRF verification
  README.md
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/cookie.utils.ts
  apps/bff/src/config/env.validation.ts
  apps/bff/src/main.ts
  apps/frontend/app/(marketing)/portal/error.tsx
  apps/frontend/app/(marketing)/portal/page.tsx
  apps/frontend/e2e/dashboard.spec.ts
  apps/frontend/e2e/stores.spec.ts
  apps/frontend/e2e/utils/cookies.ts
  apps/frontend/lib/auth.ts
  apps/frontend/middleware.ts
  deploy/docker/Caddyfile
  deploy/docker/up.sh
  deploy/docker/verify.sh
Owners: @paypay/maintainers, @paypay/frontend-leads

feat: redirect portal traffic to dashboard
  README.md
  apps/bff/src/auth/auth.constants.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/main.ts
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  apps/bff/test/auth.spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
  apps/frontend/app/(app)/dashboard/page.test.tsx
  apps/frontend/app/(app)/dashboard/page.tsx
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/(marketing)/login/login-form.tsx
  apps/frontend/app/(marketing)/portal/error.tsx
  apps/frontend/app/(marketing)/portal/loading.tsx
  apps/frontend/app/(marketing)/portal/page.tsx
  apps/frontend/app/(marketing)/signup/signup-form.tsx
  apps/frontend/lib/api.ts
  apps/frontend/next.config.test.ts
  apps/frontend/next.config.ts
  apps/frontend/src/components/dashboard/dashboard-content.tsx
  apps/frontend/src/components/dashboard/provisioned-api-key-banner.tsx
  deploy/docker/verify.sh
  eslint.config.js
Owners: @paypay/maintainers, @paypay/frontend-leads

feat(ui): move user menu to sidebar bottom-left and rename trigger to "Account"; add tests
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/header.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/components/user-menu.tsx
  apps/frontend/e2e/dashboard.spec.ts
Owners: @paypay/maintainers

fix(frontend): lower mobile nav trigger z-index
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/header.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/components/shell/site-logo.tsx
Owners: @paypay/maintainers

Namespace idempotency cache per user
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.module.ts
  apps/bff/src/auth/entities/user.entity.ts
  apps/bff/src/auth/guards/jwt-auth.guard.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/stores/dto/create-store.dto.ts
  apps/bff/src/stores/entities/managed-store.entity.ts
  apps/bff/src/stores/stores.controller.ts
  apps/bff/src/stores/stores.module.ts
  apps/bff/src/stores/stores.service.ts
  apps/bff/src/tenants/entities/idempotency-key.entity.ts
  apps/bff/test/database/data-source.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/frontend/app/(dashboard)/account/profile/page.tsx
  apps/frontend/app/(dashboard)/account/security/2fa/page.tsx
  apps/frontend/app/(dashboard)/account/security/page.tsx
  apps/frontend/app/(dashboard)/dashboard-gate.tsx
  apps/frontend/app/(dashboard)/dashboard/loading.tsx
  apps/frontend/app/(dashboard)/dashboard/page.test.tsx
  apps/frontend/app/(dashboard)/dashboard/page.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/app/(dashboard)/onboarding/create-store/head.tsx
  apps/frontend/app/(dashboard)/onboarding/create-store/page.tsx
  apps/frontend/app/(dashboard)/stores/[storeId]/page.tsx
  apps/frontend/app/(dashboard)/stores/page.tsx
  apps/frontend/app/providers.tsx
  apps/frontend/components/ui/select.tsx
  apps/frontend/components/ui/toast.tsx
  apps/frontend/src/components/stores/store-selector.tsx
  apps/frontend/src/hooks/use-stores.ts
  apps/frontend/src/lib/store-preferences.ts
Owners: @paypay/maintainers

Fix lint issues in store creation flow
  apps/bff/src/stores/dto/create-store.dto.ts
  apps/bff/src/stores/stores.controller.ts
  apps/frontend/app/(dashboard)/onboarding/create-store/page.tsx
  apps/frontend/components/ui/toast.tsx
Owners: @paypay/maintainers

Refine CORS bootstrap helpers
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/config/cors.constants.ts
  apps/bff/src/config/env.validation.ts
  apps/bff/src/main.ts
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  apps/bff/test/auth.spec.ts
  apps/bff/test/cors.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
Owners: @paypay/maintainers

fix: restore uuid defaults and harden btcpay onboarding
  apps/bff/src/auth/auth.constants.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/cookie-names.ts
  apps/bff/src/auth/guards/jwt-auth.guard.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/migrations/1729600000000-FixUuidDefaults.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  apps/bff/test/auth.spec.ts
  apps/bff/test/btcpay.service.spec.ts
  apps/bff/test/tenants.service.spec.ts
  deploy/docker/postgres/init/001_pgcrypto.sql
  docs/runbooks/tenants-onboarding.md
Owners: @paypay/maintainers

fix: avoid unsafe lint violations
  apps/bff/src/btcpay/btcpay.service.ts
Owners: @paypay/maintainers

Harden auth CSRF coverage
  README.md
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.module.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/auth/cookie-names.ts
  apps/bff/src/auth/cookie.utils.ts
  apps/bff/src/auth/cookies.util.ts
  apps/bff/src/auth/csrf.guard.ts
  apps/bff/src/auth/csrf.service.ts
  apps/bff/src/auth/guards/csrf.guard.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/src/config/cors.constants.ts
  apps/bff/src/config/env.validation.ts
  apps/bff/src/main.ts
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  apps/bff/test/auth.spec.ts
  apps/bff/test/cors.spec.ts
  apps/bff/test/setup-env.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
  deploy/docker/examples/auth-smoke.sh
  infra/env/.env.example
Owners: @paypay/maintainers

chore: remove unused Request import
  apps/bff/src/bootstrap/app-configuration.ts
Owners: @paypay/maintainers

Require CSRF pepper env
  README.md
  apps/bff/src/config/env.validation.ts
Owners: @paypay/maintainers

bff:e2e: add minimal /api auth flow tests
  README.md
  apps/bff/test/e2e/auth.spec.ts
  apps/bff/test/mocks/paypay-sdk.ts
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/(dashboard)/dashboard/page.tsx
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/store-settings-client.tsx
  apps/frontend/app/tenants/[tenantId]/stores/create/create-store-client.tsx
  apps/frontend/app/tenants/[tenantId]/stores/store-card.tsx
  apps/frontend/lib/api.ts
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  deploy/docker/Caddyfile
  deploy/docker/docker-compose.yml
  packages/sdk/package.json
  packages/sdk/src/http.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads, @paypay/platform

refactor: replace axios in sdk client
  packages/sdk/package.json
  packages/sdk/src/client.ts
  pnpm-lock.yaml
Owners: @paypay/platform, @paypay/maintainers

fix: install sdk deps for frontend builds
  README.md
  apps/frontend/Dockerfile
  apps/frontend/next.config.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads, @paypay/platform

Relax isLoggedIn failures and tidy CSRF helper
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/(dashboard)/dashboard/page.tsx
  apps/frontend/app/(dashboard)/onboarding/create-store/page.tsx
  apps/frontend/app/(marketing)/login/login-form.tsx
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/lib/api.ts
  apps/frontend/lib/auth.ts
  apps/frontend/lib/utils.ts
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.json
Owners: @paypay/maintainers, @paypay/frontend-leads

Align frontend Docker build with offline pnpm workflow
  README.md
  apps/frontend/Dockerfile
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads

Align auth e2e headers with CORS and document env
  README.md
  apps/frontend/app/(dashboard)/dashboard/page.tsx
  apps/frontend/app/(marketing)/login/login-form.tsx
  apps/frontend/e2e/auth-flow.spec.ts
  apps/frontend/lib/api.ts
  apps/frontend/lib/auth.test.ts
  apps/frontend/lib/auth.ts
  apps/frontend/lib/server-api.ts
  apps/frontend/vitest.config.ts
Owners: @paypay/maintainers, @paypay/frontend-leads

chore: harden auth flow tests typing
  apps/frontend/e2e/auth-flow.spec.ts
  apps/frontend/lib/auth.test.ts
  eslint.config.mjs
Owners: @paypay/maintainers

Adjust pnpm caching in CI workflow
  .github/workflows/ci.yml
Owners: @paypay/maintainers

Fix api body init detection
  .github/workflows/ci.yml
  .github/workflows/codex-autofix.yml
  apps/frontend/e2e/auth-flow.spec.ts
  apps/frontend/lib/api.ts
  apps/frontend/lib/auth.test.ts
Owners: @paypay/maintainers

Fix CI pnpm setup
  .github/workflows/ci.yml
Owners: @paypay/maintainers

Align CI pnpm setup with package manager version
  .github/workflows/ci.yml
Owners: @paypay/maintainers

Simplify CSRF token header handling
  apps/frontend/lib/auth.ts
Owners: @paypay/maintainers

Guard login submission with immediate ref latch
  apps/frontend/app/(marketing)/login/login-form.tsx
  apps/frontend/lib/auth.ts
Owners: @paypay/maintainers

Improve login diagnostics and validation
  apps/frontend/app/(marketing)/login/login-form.tsx
  apps/frontend/lib/auth.ts
Owners: @paypay/maintainers

Use full page redirect after login
  apps/frontend/app/(marketing)/login/login-form.tsx
Owners: @paypay/maintainers

Prevent double login submission after redirect
  apps/frontend/app/(marketing)/login/login-form.tsx
Owners: @paypay/maintainers

docs: document csrf header flow and env hints
  README.md
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/cookie-names.ts
  apps/bff/src/auth/cookies.util.ts
  apps/bff/src/auth/csrf.service.ts
  apps/bff/src/auth/guards/jwt-auth.guard.ts
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  apps/bff/test/auth.spec.ts
  apps/bff/test/e2e/auth.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
  apps/frontend/app/(dashboard)/dashboard/page.test.tsx
  apps/frontend/app/(dashboard)/dashboard/page.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/app/(marketing)/login/page.tsx
  apps/frontend/app/(marketing)/sign-in/login-form.tsx
  apps/frontend/app/(marketing)/sign-in/page.tsx
  apps/frontend/components/auth/auth-gate.test.tsx
  apps/frontend/components/auth/auth-gate.tsx
  apps/frontend/e2e/auth-flow.spec.ts
  apps/frontend/e2e/utils/cookies.ts
  apps/frontend/lib/api.ts
  apps/frontend/lib/auth.test.ts
  apps/frontend/lib/auth.ts
  apps/frontend/lib/navigation.test.ts
  apps/frontend/lib/navigation.ts
  apps/frontend/middleware.ts
  apps/frontend/next.config.ts
  deploy/docker/examples/auth-smoke.sh
  deploy/docker/verify.sh
  docs/runbooks/tenants-onboarding.md
Owners: @paypay/maintainers, @paypay/frontend-leads

Fix CSRF header handling in tests and frontend
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  apps/bff/test/auth.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
  apps/frontend/components/auth/auth-gate.test.tsx
  apps/frontend/lib/auth.ts
Owners: @paypay/maintainers

Fix delete usage in auth gate test cleanup
  apps/frontend/components/auth/auth-gate.test.tsx
Owners: @paypay/maintainers

Wrap search param consumers in suspense
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/app/(marketing)/sign-in/page.tsx
Owners: @paypay/maintainers

Align idempotency index DDL
  README.md
  apps/bff/src/app.module.ts
  apps/bff/src/auth/entities/user.entity.ts
  apps/bff/src/migrations/1729700000000-init-managed-stores-and-idem-userid.ts
  apps/bff/src/stores/managed-store.entity.ts
  apps/bff/src/stores/stores.module.ts
  apps/bff/src/stores/stores.service.ts
  apps/bff/src/tenants/entities/idempotency-key.entity.ts
  apps/bff/test/database/data-source.spec.ts
  apps/bff/test/stores.e2e-spec.ts
Owners: @paypay/maintainers

test: expect csrf header exposed
  README.md
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.module.ts
  apps/bff/src/auth/users.service.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/config/cors.constants.ts
  apps/bff/src/config/env.validation.ts
  apps/bff/src/migrations/1710000000000_add_store_key_last_four.ts
  apps/bff/src/migrations/1729800000000_AddManagedStoresUserNameUnique.ts
  apps/bff/src/stores/managed-store.entity.ts
  apps/bff/src/stores/stores.controller.ts
  apps/bff/src/stores/stores.service.ts
  apps/bff/test/e2e/auth.spec.ts
  apps/bff/test/setup-env.ts
  apps/bff/test/stores.e2e-spec.ts
  infra/env/.env.example
Owners: @paypay/maintainers

.github/CODEOWNERS:

# Default owners
* @paypay/maintainers

# Critical infrastructure
infra/* @paypay/devsecops
apps/bff/* @paypay/backend-leads
apps/frontend/* @paypay/frontend-leads
packages/sdk/* @paypay/platform
