Repository boog9/paypay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paypay/maintainers, @paypay/devsecops, @paypay/backend-leads, @paypay/frontend-leads, @paypay/platform

.github/CODEOWNERS:

# Default owners
* @paypay/maintainers

# Critical infrastructure
infra/* @paypay/devsecops
apps/bff/* @paypay/backend-leads
apps/frontend/* @paypay/frontend-leads
packages/sdk/* @paypay/platform

refactor: harden bff build and health checks
  .github/workflows/ci.yml
  apps/bff/Dockerfile
  apps/bff/src/app.module.ts
  apps/bff/src/health.controller.ts
  apps/bff/src/health/health.controller.ts
  apps/bff/src/health/health.module.ts
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/backend-leads

Make SMTP env optional and improve CI and Docker cache
  .github/workflows/ci.yml
  apps/bff/Dockerfile
  deploy/docker/.env.example
  deploy/docker/docker-compose.yml
  infra/env/.env.example
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/backend-leads

chore: centralize env secrets and runtime validation
  .gitignore
  README.md
  apps/bff/src/config/env.validation.ts
  apps/bff/src/main.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/hooks.e2e-spec.ts
  apps/bff/test/setup-env.ts
  deploy/docker/.env.example
  deploy/docker/docker-compose.yml
  infra/env/.env.example
  scripts/gen-secrets.sh
Owners: @paypay/maintainers

Adopt single-source environment management
  .githooks/pre-commit
  README.md
  deploy/docker/.env.example
  deploy/docker/check-env.sh
  deploy/docker/docker-compose.yml
  infra/env/.env.example
Owners: @paypay/maintainers

chore: enforce single docker env source
  README.md
  deploy/docker/.env.example
  deploy/docker/check-required-env.sh
  infra/env/.env.example
Owners: @paypay/maintainers

chore: align sdk types tooling
  apps/bff/Dockerfile
  packages/sdk/package.json
  pnpm-lock.yaml
Owners: @paypay/backend-leads, @paypay/platform, @paypay/maintainers

Limit Docker builds to BFF and SDK scopes
  apps/bff/Dockerfile
  apps/frontend/Dockerfile
Owners: @paypay/backend-leads, @paypay/frontend-leads

Align frontend Docker base image and pnpm version
  apps/frontend/Dockerfile
  package.json
Owners: @paypay/frontend-leads, @paypay/maintainers

Add frontend health endpoint and Docker healthcheck
  apps/frontend/Dockerfile
  apps/frontend/app/health/route.ts
  deploy/docker/docker-compose.yml
Owners: @paypay/frontend-leads, @paypay/maintainers

docs: document single env file and add docker launcher
  README.md
  deploy/docker/up.sh
Owners: @paypay/maintainers

Allow BFF healthcheck warmup
  apps/frontend/app/health/route.ts
  deploy/docker/Caddyfile
  deploy/docker/docker-compose.yml
Owners: @paypay/maintainers

fix(bff): enforce external secrets and extend probes
  .dockerignore
  README.md
  apps/bff/.dockerignore
  apps/bff/Dockerfile
  apps/bff/docker-entrypoint.sh
  apps/bff/src/app.module.ts
  apps/bff/src/config/env.validation.ts
Owners: @paypay/maintainers, @paypay/backend-leads

fix(bff): purge baked env; ignore .env in production; safe entrypoint; 0.0.0.0 bind; healthcheck start_period; docs
  .dockerignore
  README.md
  apps/bff/.dockerignore
  apps/bff/Dockerfile
  apps/bff/src/app.module.ts
  apps/bff/src/database/data-source.ts
  apps/bff/src/main.ts
  apps/bff/test/setup-env.ts
Owners: @paypay/maintainers, @paypay/backend-leads

Add frontend health endpoint and healthcheck
  README.md
  apps/frontend/Dockerfile
  apps/frontend/app/health/route.ts
Owners: @paypay/maintainers, @paypay/frontend-leads

Update frontend healthcheck configuration
  apps/frontend/Dockerfile
  deploy/docker/docker-compose.yml
Owners: @paypay/frontend-leads, @paypay/maintainers

Fix Caddy auto_https configuration
  deploy/docker/Caddyfile
Owners: @paypay/maintainers

Tighten CSRF cookies and enforce BFF build args
  README.md
  apps/bff/src/auth/auth.constants.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/csrf.guard.ts
  apps/bff/src/auth/csrf.service.ts
  apps/bff/src/main.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/frontend/Dockerfile
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/app/invoices/new/page.tsx
  apps/frontend/lib/bff.ts
  apps/frontend/lib/http-client.ts
  apps/frontend/lib/utils.ts
  apps/frontend/middleware.ts
  deploy/docker/Caddyfile
  deploy/docker/check-env.sh
  deploy/docker/docker-compose.yml
  infra/env/.env.example
Owners: @paypay/maintainers, @paypay/frontend-leads

Normalize registration flow and cover register endpoint
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/auth/dto/register.dto.ts
  apps/bff/src/auth/dto/signup.dto.ts
  apps/bff/src/auth/email.utils.ts
  apps/bff/src/auth/entities/user.entity.ts
  apps/bff/src/main.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/login/login-form.tsx
  apps/frontend/app/signup/signup-form.tsx
  apps/frontend/lib/http-client.ts
Owners: @paypay/maintainers

Remove redundant email normalization hook
  apps/bff/src/auth/entities/user.entity.ts
Owners: @paypay/maintainers

fix: preserve raw btcpay webhook body
  apps/bff/src/main.ts
Owners: @paypay/maintainers

bff: align raw body middleware for BTCPay webhooks
  apps/bff/jest.config.ts
  apps/bff/src/auth/email.utils.ts
  apps/bff/src/btcpay/btcpay.constants.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/hooks/hooks.controller.ts
  apps/bff/src/hooks/hooks.service.ts
  apps/bff/src/main.ts
  apps/bff/src/migrations/1727900000000-EnhanceStoreMetadata.ts
  apps/bff/src/tenants/dto/create-store.dto.ts
  apps/bff/src/tenants/dto/create-tenant.dto.ts
  apps/bff/src/tenants/entities/store.entity.ts
  apps/bff/src/tenants/tenants.controller.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/btcpay.service.spec.ts
  apps/bff/test/hooks.e2e-spec.ts
  apps/bff/test/hooks.idempotency.spec.ts
  apps/bff/test/hooks.service.spec.ts
  apps/bff/test/hooks.signature.spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
  apps/bff/test/tenants.service.spec.ts
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/store-settings-client.tsx
Owners: @paypay/backend-leads, @paypay/maintainers

chore: align throttling defaults with nest v6
  README.md
  apps/bff/src/app.module.ts
  apps/bff/src/config/env.validation.ts
  apps/bff/src/main.ts
  apps/bff/src/tenants/tenants.controller.ts
  infra/env/.env.example
Owners: @paypay/maintainers

fix(frontend): align store settings page params typing
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/page.tsx
Owners: @paypay/maintainers

fix: explicit TypeORM column types
  apps/bff/src/auth/entities/refresh-token.entity.ts
  apps/bff/src/auth/entities/user.entity.ts
  apps/bff/src/database/utils/column-types.ts
  apps/bff/src/migrations/1728400000000-ExplicitColumnTypes.ts
  apps/bff/src/tenants/entities/audit-log.entity.ts
  apps/bff/src/tenants/entities/idempotency-key.entity.ts
  apps/bff/src/tenants/entities/store.entity.ts
  apps/bff/src/tenants/entities/tenant.entity.ts
  apps/bff/test/database/data-source.spec.ts
  apps/bff/test/health.e2e-spec.ts
Owners: @paypay/maintainers

fix(frontend): enforce api prefix for bff requests
  apps/bff/package.json
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.constants.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.module.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/auth/dto/auth-response.dto.ts
  apps/bff/src/auth/entities/user.entity.ts
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/src/btcpay/btcpay.constants.ts
  apps/bff/src/btcpay/btcpay.module.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/main.ts
  apps/bff/src/migrations/1729000000000-AddBtcpayUserProvisioningColumns.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  apps/bff/test/setup-env.ts
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/app/login/login-form.tsx
  apps/frontend/app/portal/error.tsx
  apps/frontend/app/portal/loading.tsx
  apps/frontend/app/portal/page.tsx
  apps/frontend/app/portal/portal-client.tsx
  apps/frontend/app/signup/error.tsx
  apps/frontend/app/signup/loading.tsx
  apps/frontend/app/signup/signup-form.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/store-settings-client.tsx
  apps/frontend/lib/api.ts
  apps/frontend/lib/bff.ts
  apps/frontend/lib/http-client.ts
  infra/env/.env.example
  pnpm-lock.yaml
Owners: @paypay/backend-leads, @paypay/maintainers

Fix BFF build errors
  apps/bff/package.json
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
  pnpm-lock.yaml
Owners: @paypay/backend-leads, @paypay/maintainers

Provision BTCPay users with server-managed passwords
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
Owners: @paypay/maintainers

fix: activate btcpay users during signup
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
Owners: @paypay/maintainers

refactor store creation to reuse onboarding btcpay key
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/migrations/1729300000000-AddTenantManagedStoreKeys.ts
  apps/bff/src/tenants/dto/create-store.dto.ts
  apps/bff/src/tenants/entities/store.entity.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/tenants.service.spec.ts
  apps/frontend/app/portal/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/store-settings-client.tsx
  apps/frontend/app/tenants/[tenantId]/stores/create/create-store-client.tsx
  apps/frontend/app/tenants/[tenantId]/stores/create/page.tsx
Owners: @paypay/maintainers

Create codex-autofix.yml
  .github/workflows/codex-autofix.yml
Owners: @paypay/maintainers

Fix BTCPay API key rotation and deletion for shared credentials
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/tenants.service.spec.ts
Owners: @paypay/maintainers

feat: add merchant store management portal
  apps/bff/src/tenants/tenants.controller.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/checkout-integrations/api-keys/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/dashboard/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/payments/invoices/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/payments/pull-payments/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/payments/reporting/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/payments/requests/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/store-settings-client.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/settings/store-settings-container.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/store-feature-placeholder.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/store-layout-context.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/store-sidebar.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/page.tsx
  apps/frontend/lib/server-api.ts
Owners: @paypay/maintainers

Fix Next.js page and layout params typing
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/page.tsx
Owners: @paypay/maintainers

feat(frontend): allow rotating store key from list
  apps/bff/src/btcpay/btcpay.constants.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/config/env.validation.ts
  apps/bff/src/tenants/tenants.controller.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/hooks.idempotency.spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
  apps/bff/test/tenants.service.spec.ts
  apps/frontend/app/tenants/[tenantId]/stores/create/create-store-client.tsx
  apps/frontend/app/tenants/[tenantId]/stores/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/store-card.tsx
Owners: @paypay/maintainers

Add secondary variant to button component
  apps/frontend/components/ui/button.tsx
Owners: @paypay/maintainers

feat(frontend): scaffold dashboard shell
  apps/frontend/app/(app)/dashboard/page.test.tsx
  apps/frontend/app/(app)/dashboard/page.tsx
  apps/frontend/app/(app)/layout.tsx
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/header.tsx
  apps/frontend/components/shell/sidebar-nav.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  apps/frontend/vitest.config.ts
  apps/frontend/vitest.setup.ts
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads

feat: add dashboard shell and eslint flat config
  .eslintrc.cjs
  apps/bff/package.json
  apps/frontend/app/(app)/dashboard/loading.tsx
  apps/frontend/app/(app)/dashboard/page.test.tsx
  apps/frontend/app/(app)/dashboard/page.tsx
  apps/frontend/app/(app)/stores/page.tsx
  apps/frontend/app/health/route.ts
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/header.tsx
  apps/frontend/components/shell/sidebar-nav.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/components/store-selector.tsx
  apps/frontend/components/ui/badge.tsx
  apps/frontend/components/ui/card.tsx
  apps/frontend/components/ui/separator.tsx
  apps/frontend/components/ui/sheet.tsx
  apps/frontend/components/ui/skeleton.tsx
  apps/frontend/e2e/dashboard.spec.ts
  apps/frontend/middleware.ts
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/backend-leads, @paypay/frontend-leads

feat(frontend): refresh dashboard shell and store flows
  apps/frontend/app/(app)/account/profile/page.tsx
  apps/frontend/app/(app)/account/security/2fa/page.tsx
  apps/frontend/app/(app)/account/security/page.tsx
  apps/frontend/app/(app)/dashboard/page.test.tsx
  apps/frontend/app/(app)/dashboard/page.tsx
  apps/frontend/app/(app)/stores/[storeId]/page.tsx
  apps/frontend/app/(app)/stores/page.tsx
  apps/frontend/app/(marketing)/layout.tsx
  apps/frontend/app/(marketing)/login/login-form.tsx
  apps/frontend/app/(marketing)/login/page.tsx
  apps/frontend/app/(marketing)/page.tsx
  apps/frontend/app/(marketing)/portal/error.tsx
  apps/frontend/app/(marketing)/portal/loading.tsx
  apps/frontend/app/(marketing)/portal/page.tsx
  apps/frontend/app/(marketing)/portal/portal-client.tsx
  apps/frontend/app/(marketing)/sign-in/page.tsx
  apps/frontend/app/(marketing)/signup/error.tsx
  apps/frontend/app/(marketing)/signup/loading.tsx
  apps/frontend/app/(marketing)/signup/page.tsx
  apps/frontend/app/(marketing)/signup/signup-form.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/shell/__tests__/sidebar-nav.test.tsx
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/header.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/components/store-selector.tsx
  apps/frontend/components/stores-nav-list.tsx
  apps/frontend/components/ui/input.tsx
  apps/frontend/components/user-menu.tsx
  apps/frontend/e2e/dashboard.spec.ts
  apps/frontend/e2e/stores.spec.ts
  apps/frontend/middleware.ts
Owners: @paypay/maintainers, @paypay/frontend-leads

Fix BFF ESLint configuration and typing
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/auth/dto/auth-response.dto.ts
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/tsconfig.eslint.json
  eslint.config.js
Owners: @paypay/maintainers, @paypay/backend-leads

fix(bff): align auth cookie setup typings
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/test/auth.cookies.e2e-spec.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/auth.signup-provisioning.e2e-spec.ts
Owners: @paypay/maintainers
