Repository boog9/paypay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paypay/maintainers, @paypay/devsecops, @paypay/backend-leads, @paypay/frontend-leads, @paypay/platform

.github/CODEOWNERS:

# Default owners
* @paypay/maintainers

# Critical infrastructure
infra/* @paypay/devsecops
apps/bff/* @paypay/backend-leads
apps/frontend/* @paypay/frontend-leads
packages/sdk/* @paypay/platform

Fix BTCPay on-chain preview endpoint usage
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
Owners: @paypay/maintainers

refactor: send wallet preview query params
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
Owners: @paypay/maintainers

Fix BTCPay preview logging and tests
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/e2e/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
Owners: @paypay/maintainers

Remove unused BadGatewayException import in test
  apps/bff/test/btcpay.payment-methods.service.spec.ts
Owners: @paypay/maintainers

Ensure BTCPay per-store keys and preview routing match v2
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/stores/stores.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/stores.service.spec.ts
Owners: @paypay/maintainers

feat(bff): update wallet preview for btcpay v2
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/e2e/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
Owners: @paypay/maintainers

Normalize on-chain preview descriptors and surface BTCPay errors
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/e2e/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
Owners: @paypay/maintainers

Add ExecPlan guidance files
  .agent/PLANS.md
  AGENTS.md
Owners: @paypay/maintainers

Add ExecPlan for BTCPay parity implementation
  .agent/PLANS.md
  AGENTS.md
  docs/execplans/btcpay-greenfield-parity.md
Owners: @paypay/maintainers

docs: update architecture blueprint
  docs/ARCHITECTURE.md
Owners: @paypay/maintainers

harden btcpay validation error typing
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/http/btcpay-validation.exception.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  docs/execplans/btcpay-validation-type-safety.md
Owners: @paypay/maintainers

Document route maps and sync ExecPlan
  docs/ROUTE_MAPS.md
  docs/execplans/btcpay-greenfield-parity.md
Owners: @paypay/maintainers

fix: harden btcpay provisioning pipeline
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/src/btcpay/btcpay.constants.ts
  docs/execplans/btcpay-provisioning-hardening.md
Owners: @paypay/maintainers

Remove includeConfig query from BTC-CHAIN lookups
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/legacy-onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/btcpay.wallets.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  docs/execplans/btcpay-watch-only-wallet-422.md
  docs/payments/btcpay-wallet-import.md
Owners: @paypay/maintainers

Remove unnecessary type assertions in BTCPay service tests
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
Owners: @paypay/maintainers

Normalize BTCPay on-chain errors and CSRF header handling
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/config/cors.constants.ts
  apps/bff/src/security/csrf.constants.ts
  apps/bff/src/security/csrf.service.ts
  apps/bff/src/wallets/dto/onchain-config.dto.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/dto/update-bitcoin-wallet.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/(auth)/sign-in/login-form.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.ts
  apps/frontend/app/(dashboard)/onboarding/create-store/page.tsx
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/lib/api.ts
  apps/frontend/lib/auth.ts
  apps/frontend/lib/bff-fetch.ts
  apps/frontend/lib/http-headers.ts
  docs/execplans/btcpay-btc-chain-wallet-config.md
Owners: @paypay/maintainers

fix: type payment methods response
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
Owners: @paypay/maintainers

feat(frontend): skip playwright when browsers missing
  apps/frontend/package.json
  apps/frontend/scripts/run-tests.js
Owners: @paypay/frontend-leads, @paypay/maintainers

feat(frontend): gate wallet menu by presence
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/receive/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/send/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/components/shell/__tests__/shell-sidebar.test.tsx
Owners: @paypay/maintainers

Fix wallet presence imports and modernize test runner
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/receive/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/send/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/package.json
  apps/frontend/scripts/run-tests.mjs
  eslint.config.mjs
Owners: @paypay/maintainers, @paypay/frontend-leads

Align wallet presence tests with hasWallet flag
  apps/bff/src/btcpay/btcpay.wallets.service.ts
  apps/bff/src/wallets/dto/wallet-presence.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/test/btcpay.wallets.service.spec.ts
  apps/bff/test/onchain-wallets.controller.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/_client.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/receive/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/send/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/layout.tsx
  apps/frontend/components/shell/__tests__/shell-sidebar.test.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/e2e/dashboard-wallet-cta.spec.ts
  apps/frontend/e2e/sidebar-wallet-menu.spec.ts
  apps/frontend/e2e/wallet-redirect-no-wallet.spec.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
  apps/frontend/src/contexts/wallet-presence.tsx
  docs/execplans/btc-wallet-presence-restoration.md
Owners: @paypay/maintainers

Fix BTC wallet presence context and sidebar behaviour
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/components/shell/__tests__/shell-sidebar.test.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/src/contexts/wallet-presence.tsx
Owners: @paypay/maintainers

Fix BTC wallet sidebar presence handling
  apps/frontend/app/(dashboard)/dashboard/page.test.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/components/shell/__tests__/shell-sidebar.test.tsx
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/src/contexts/wallet-presence.tsx
  docs/execplans/btc-wallet-presence-restoration.md
Owners: @paypay/maintainers

chore(frontend): install playwright browsers on postinstall
  apps/frontend/package.json
Owners: @paypay/frontend-leads

test: stub auth session for sidebar wallet e2e
  apps/frontend/e2e/sidebar-wallet-menu.spec.ts
Owners: @paypay/maintainers

Relax throttling for store and wallet presence endpoints
  apps/bff/src/stores/stores.controller.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/frontend/components/shell/__tests__/shell-sidebar.test.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/src/components/stores/store-selector.tsx
  apps/frontend/src/contexts/wallet-presence.tsx
  apps/frontend/src/hooks/use-stores.ts
  docs/execplans/throttler-ui-resilience.md
Owners: @paypay/maintainers

Fix BTCPay payment methods service tests
  apps/bff/test/btcpay.payment-methods.service.spec.ts
Owners: @paypay/maintainers

Fix wallet presence mock typing in shell sidebar tests
  apps/frontend/components/shell/__tests__/shell-sidebar.test.tsx
Owners: @paypay/maintainers

Handle Playwright postinstall without apt-get
  apps/frontend/package.json
  apps/frontend/scripts/postinstall.mjs
Owners: @paypay/frontend-leads, @paypay/maintainers

docs: update Store settings management via BFF and dashboard form plan
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/stores/dto/update-store-settings.dto.ts
  apps/bff/src/stores/stores.controller.ts
  apps/bff/src/stores/stores.service.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/stores.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/_components/StoreSettingsForm.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/_components/__tests__/store-settings-form.test.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.tsx
  apps/frontend/lib/storePaths.ts
  apps/frontend/vitest.config.ts
  docs/execplans/store-settings-screen.md
Owners: @paypay/maintainers, @paypay/frontend-leads

Fix lint issues in store settings form
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/_components/StoreSettingsForm.tsx
Owners: @paypay/maintainers

Add destructive button variant
  apps/frontend/components/ui/button.tsx
Owners: @paypay/maintainers

Fix wallet link on store settings placeholder
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings-placeholder/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/_components/StoreSettingsForm.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/_components/__tests__/store-settings-form.test.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.tsx
  docs/execplans/store-settings-btcpay-compat.md
  packages/sdk/src/gen/btcpay.d.ts
Owners: @paypay/maintainers

Fix settings placeholder page params type
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings-placeholder/page.tsx
Owners: @paypay/maintainers

Relax wallet presence throttling and soften 429 handling
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/wallet-presence.throttle.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/components/shell/__tests__/shell-sidebar.test.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/src/contexts/wallet-presence.tsx
  docs/execplans/wallet-presence-throttling.md
Owners: @paypay/maintainers

Handle auth me 401 responses in frontend SSR
  apps/frontend/app/(dashboard)/dashboard/page.test.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/layout.tsx
  apps/frontend/components/shell/app-shell.tsx
  apps/frontend/src/auth/server.test.ts
  apps/frontend/src/auth/server.ts
  apps/frontend/vitest.config.ts
  docs/execplans/auth-me-safe-handling.md
Owners: @paypay/maintainers, @paypay/frontend-leads

Handle read endpoint rate limits
  apps/bff/src/wallets/wallets.controller.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  docs/execplans/read-endpoint-throttling-and-frontend-429.md
Owners: @paypay/maintainers

Refine store settings page exports
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/loadStoreSettings.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.tsx
Owners: @paypay/maintainers

Fix store settings page params typing
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.tsx
Owners: @paypay/maintainers

Remove unused store settings type import
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/settings/page.tsx
Owners: @paypay/maintainers
