Repository boog9/paypay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paypay/maintainers, @paypay/devsecops, @paypay/backend-leads, @paypay/frontend-leads, @paypay/platform

.github/CODEOWNERS:

# Default owners
* @paypay/maintainers

# Critical infrastructure
infra/* @paypay/devsecops
apps/bff/* @paypay/backend-leads
apps/frontend/* @paypay/frontend-leads
packages/sdk/* @paypay/platform

chore: upgrade frontend to react 19
  README.md
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/next.config.js
  apps/frontend/next.config.ts
  apps/frontend/package.json
  infra/env/.env.bff.example
  infra/env/.env.frontend.example
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads

chore: upgrade frontend to react 19
  README.md
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/next.config.js
  apps/frontend/next.config.ts
  apps/frontend/package.json
  infra/env/.env.bff.example
  infra/env/.env.frontend.example
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads

chore: upgrade frontend to react 19
  README.md
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/next.config.js
  apps/frontend/next.config.ts
  apps/frontend/package.json
  infra/env/.env.bff.example
  infra/env/.env.frontend.example
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads

chore: upgrade frontend to react 19
  README.md
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/next.config.js
  apps/frontend/next.config.ts
  apps/frontend/package.json
  infra/env/.env.bff.example
  infra/env/.env.frontend.example
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/frontend-leads

chore: prepare docker production deployment
  README.md
  deploy/docker/Caddyfile
  deploy/docker/docker-compose.yml
  infra/env/.env.example
Owners: @paypay/maintainers

Translate auth UI copy to English
  apps/bff/jest.config.ts
  apps/bff/package.json
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.module.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/auth/dto/auth-response.dto.ts
  apps/bff/src/auth/dto/login.dto.ts
  apps/bff/src/auth/dto/logout.dto.ts
  apps/bff/src/auth/dto/refresh-token.dto.ts
  apps/bff/src/auth/dto/signup.dto.ts
  apps/bff/src/auth/entities/refresh-token.entity.ts
  apps/bff/src/auth/entities/user.entity.ts
  apps/bff/src/migrations/1738000000000-CreateAuthTables.ts
  apps/bff/src/types/paypay-sdk.d.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/bff/test/mocks/paypay-sdk.ts
  apps/bff/test/setup-env.ts
  apps/bff/tsconfig.json
  apps/frontend/app/(auth)/actions.ts
  apps/frontend/app/login/login-form.tsx
  apps/frontend/app/login/page.tsx
  apps/frontend/app/signup/page.tsx
  apps/frontend/app/signup/signup-form.tsx
  apps/frontend/package.json
  deploy/docker/docker-compose.yml
  pnpm-lock.yaml
Owners: @paypay/backend-leads, @paypay/maintainers, @paypay/frontend-leads

feat: move auth forms to client actions
  README.md
  apps/bff/package.json
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.constants.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.module.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/auth/csrf.guard.ts
  apps/bff/src/auth/csrf.service.ts
  apps/bff/src/auth/dto/auth-response.dto.ts
  apps/bff/src/auth/dto/logout.dto.ts
  apps/bff/src/auth/dto/refresh-token.dto.ts
  apps/bff/src/btcpay/btcpay.constants.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/main.ts
  apps/bff/test/auth.e2e-spec.ts
  apps/frontend/app/(auth)/actions.ts
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/app/login/login-form.tsx
  apps/frontend/app/signup/signup-form.tsx
  infra/env/.env.example
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/backend-leads

feat(bff): enable global CSRF guard and update refresh token signing
  README.md
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/auth.service.ts
  apps/bff/src/main.ts
Owners: @paypay/maintainers

bff: adapter-agnostic trust proxy + strict CORS; docker-safe listen
  apps/bff/src/main.ts
  infra/env/.env.example
Owners: @paypay/maintainers

Fix trust proxy default handling
  apps/bff/src/main.ts
Owners: @paypay/maintainers

chore(bff): harden runtime entrypoint
  README.md
  apps/bff/Dockerfile
  apps/bff/docker-entrypoint.sh
  apps/bff/src/main.ts
Owners: @paypay/maintainers, @paypay/backend-leads

Align frontend API base path and fix invoice routing
  README.md
  apps/bff/src/invoices/invoices.controller.ts
  apps/bff/src/main.ts
  apps/frontend/app/(auth)/client-actions.ts
  apps/frontend/app/invoices/new/new-invoice-form.tsx
  apps/frontend/app/invoices/new/page.tsx
  apps/frontend/lib/bff.ts
  apps/frontend/lib/utils.ts
  infra/env/.env.example
Owners: @paypay/maintainers

feat(bff): enable typeorm migrations
  apps/bff/docker-entrypoint.sh
  apps/bff/package.json
  apps/bff/src/database/data-source.ts
  apps/bff/src/migrations/0001-InitSchema.ts
  apps/bff/src/migrations/1738000000000-CreateAuthTables.ts
  apps/bff/src/scripts/migrate.ts
  apps/bff/tsconfig.build.json
Owners: @paypay/backend-leads, @paypay/maintainers

Fix migration naming and runtime paths
  apps/bff/docker-entrypoint.sh
  apps/bff/package.json
  apps/bff/src/database/data-source.ts
  apps/bff/src/migrations/1727563200000-InitSchema.ts
  apps/bff/tsconfig.build.json
Owners: @paypay/backend-leads, @paypay/maintainers

tune btcpay webhook handling
  README.md
  apps/bff/package.json
  apps/bff/src/app.module.ts
  apps/bff/src/auth/csrf.guard.ts
  apps/bff/src/btcpay/btcpay.module.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/btcpay/btcpay.tokens.ts
  apps/bff/src/health/health.controller.ts
  apps/bff/src/hooks/hooks.controller.ts
  apps/bff/src/hooks/hooks.module.ts
  apps/bff/src/hooks/hooks.service.ts
  apps/bff/src/main.ts
  apps/bff/src/migrations/1727800000000-CreateTenantSchema.ts
  apps/bff/src/security/envelope-encryption.service.ts
  apps/bff/src/security/security.module.ts
  apps/bff/src/tenants/dto/create-invoice.dto.ts
  apps/bff/src/tenants/dto/create-store.dto.ts
  apps/bff/src/tenants/dto/create-tenant.dto.ts
  apps/bff/src/tenants/dto/rotate-api-key.dto.ts
  apps/bff/src/tenants/entities/audit-log.entity.ts
  apps/bff/src/tenants/entities/idempotency-key.entity.ts
  apps/bff/src/tenants/entities/store.entity.ts
  apps/bff/src/tenants/entities/tenant.entity.ts
  apps/bff/src/tenants/tenants.controller.ts
  apps/bff/src/tenants/tenants.module.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/hooks.e2e-spec.ts
  apps/bff/test/hooks.service.spec.ts
  apps/bff/test/setup-env.ts
  apps/bff/test/tenants.service.spec.ts
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/backend-leads

docs: add env templates and usage guidance
  README.md
  deploy/docker/.env.example
  infra/env/.env.example
Owners: @paypay/maintainers

Refactor BTCPay invoice creation config
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/invoices/invoices.controller.ts
  apps/bff/src/tenants/tenants.service.ts
  infra/env/.env.bff.example
  infra/env/.env.example
Owners: @paypay/maintainers

bff: enforce multi-tenant keying; remove default BTCPay key; unify config and harden startup
  README.md
  apps/bff/src/btcpay/btcpay.module.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/btcpay/btcpay.tokens.ts
  apps/bff/src/invoices/invoices.controller.ts
  apps/bff/src/invoices/invoices.module.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/bff/test/setup-env.ts
  apps/bff/test/tenants.service.spec.ts
  infra/env/.env.bff.example
  infra/env/.env.example
  infra/env/.env.sdk.example
  packages/sdk/scripts/gen-openapi.mjs
Owners: @paypay/maintainers

chore: remove deprecated btcpay env placeholders
  infra/env/.env.bff.example
  infra/env/.env.example
  infra/env/.env.sdk.example
Owners: @paypay/maintainers

chore(deploy): wire CADDY_ADMIN_EMAIL via compose and document it in README
  README.md
  deploy/docker/.env.example
  deploy/docker/Caddyfile
  deploy/docker/docker-compose.yml
Owners: @paypay/maintainers

docs: document public vs secret env files
  .gitignore
  README.md
  deploy/docker/.env.example
  deploy/docker/docker-compose.yml
  infra/env/.env.bff.example
  infra/env/.env.example
  infra/env/.env.frontend.example
  infra/env/.env.sdk.example
Owners: @paypay/maintainers

Fix BFF runtime middleware and Docker setup
  README.md
  apps/bff/Dockerfile
  apps/bff/package.json
  apps/bff/src/auth/auth.constants.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/csrf.service.ts
  apps/bff/src/health/health.controller.ts
  apps/bff/src/main.ts
  apps/bff/src/tenants/tenants.controller.ts
  apps/bff/src/tenants/tenants.service.ts
  apps/frontend/lib/bff.ts
  deploy/docker/Caddyfile
  deploy/docker/docker-compose.yml
  infra/env/.env.example
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/backend-leads

Fix BFF runtime image and health checks
  .github/workflows/docker.yml
  apps/bff/Dockerfile
  apps/bff/docker-entrypoint.sh
  apps/bff/package.json
  apps/bff/src/health/health.controller.ts
  apps/bff/src/scripts/migrate.ts
  deploy/docker/docker-compose.yml
Owners: @paypay/maintainers, @paypay/backend-leads

Fix BFF runtime configuration
  apps/bff/Dockerfile
  apps/bff/src/health/health.controller.ts
Owners: @paypay/backend-leads, @paypay/maintainers

chore: fix caddy health probes and docs
  README.md
  deploy/docker/Caddyfile
Owners: @paypay/maintainers

Update BFF Docker workflow
  .dockerignore
  .github/workflows/docker.yml
  apps/bff/package.json
  deploy/docker/bff.Dockerfile
  deploy/docker/docker-compose.yml
Owners: @paypay/maintainers, @paypay/backend-leads

Adjust BFF deploy output usage
  apps/bff/package.json
  deploy/docker/bff.Dockerfile
Owners: @paypay/backend-leads, @paypay/maintainers

chore: harden bff deploy pipeline
  deploy/docker/bff.Dockerfile
  packages/sdk/package.json
Owners: @paypay/maintainers, @paypay/platform

Limit lockfile sync to BFF and SDK workspaces
  deploy/docker/bff.Dockerfile
Owners: @paypay/maintainers

Fix BFF Docker build dependencies
  apps/bff/package.json
  deploy/docker/bff.Dockerfile
Owners: @paypay/backend-leads, @paypay/maintainers

chore: align pnpm tooling and bff build
  .github/workflows/ci.yml
  deploy/docker/bff.Dockerfile
  package.json
Owners: @paypay/maintainers

Improve pnpm caching and runtime healthcheck
  .github/workflows/ci.yml
  deploy/docker/bff.Dockerfile
  package.json
  pnpm-lock.yaml
Owners: @paypay/maintainers

Refine BFF deploy hoisting configuration
  .github/workflows/ci.yml
  apps/bff/.npmrc
  apps/bff/package.json
  deploy/docker/bff.Dockerfile
Owners: @paypay/maintainers, @paypay/backend-leads

Adjust BFF Docker deploy handling
  deploy/docker/bff.Dockerfile
Owners: @paypay/maintainers

Ensure BFF uses reflect-metadata in runtime scripts
  apps/bff/docker-entrypoint.sh
  apps/bff/package.json
  deploy/docker/bff.Dockerfile
  package.json
Owners: @paypay/backend-leads, @paypay/maintainers

chore(bff): cache pnpm store and record reflect path
  apps/bff/Dockerfile
  pnpm-lock.yaml
Owners: @paypay/backend-leads, @paypay/maintainers

fix(bff): load reflect metadata at runtime
  apps/bff/package.json
Owners: @paypay/backend-leads

fix: build bff dependencies recursively
  apps/bff/Dockerfile
  deploy/docker/docker-compose.yml
Owners: @paypay/backend-leads, @paypay/maintainers

Align BFF health endpoint and lockfile
  .github/workflows/ci.yml
  apps/bff/Dockerfile
  apps/bff/package.json
  apps/bff/src/app.module.ts
  apps/bff/src/health.controller.ts
  apps/bff/tsconfig.json
  deploy/docker/docker-compose.yml
  package.json
  pnpm-lock.yaml
Owners: @paypay/maintainers, @paypay/backend-leads

chore: align bff runtime metadata and tooling
  .github/workflows/ci.yml
  README.md
  apps/bff/Dockerfile
  apps/bff/package.json
  deploy/docker/.env.example
  deploy/docker/docker-compose.yml
  infra/env/.env.example
Owners: @paypay/maintainers, @paypay/backend-leads
