Repository boog9/paypay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paypay/maintainers, @paypay/devsecops, @paypay/backend-leads, @paypay/frontend-leads, @paypay/platform

feat: add bitcoin wallet transactions view
  apps/bff/src/btcpay/btcpay.module.ts
  apps/bff/src/btcpay/btcpay.wallets.service.ts
  apps/bff/src/wallets/dto/wallet-transactions.dto.ts
  apps/bff/src/wallets/onchain-wallet-read.service.ts
  apps/bff/src/wallets/wallets.controller.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/bff/test/btcpay.wallets.service.spec.ts
  apps/bff/test/onchain-wallet-read.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/receive/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/send/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/loading.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/transactions-client.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/types.ts
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/e2e/wallet-settings.spec.ts
  apps/frontend/e2e/wallet-transactions.spec.ts
  apps/frontend/src/types/wallets.ts
Owners: @paypay/maintainers

Fix lint issues in BTC wallet flows
  apps/bff/src/btcpay/btcpay.wallets.service.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/transactions-client.tsx
  apps/frontend/e2e/wallet-transactions.spec.ts
Owners: @paypay/maintainers

fix(bff): emit rate limit headers
  apps/bff/src/app.module.ts
  apps/bff/src/app.throttler.guard.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/config/env.validation.ts
  apps/bff/src/health.controller.ts
Owners: @paypay/maintainers

Expand auth skipIf allowlist
  apps/bff/src/app.module.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/frontend/app/(auth)/layout.tsx
  apps/frontend/app/(auth)/sign-in/login-form.tsx
  apps/frontend/app/(auth)/sign-in/page.tsx
  apps/frontend/app/(auth)/signup/error.tsx
  apps/frontend/app/(auth)/signup/loading.tsx
  apps/frontend/app/(auth)/signup/page.tsx
  apps/frontend/app/(auth)/signup/signup-form.tsx
  infra/env/.env.example
Owners: @paypay/maintainers

Fix typings for throttler guard
  apps/bff/src/app.module.ts
  apps/bff/src/app.throttler.guard.ts
Owners: @paypay/maintainers

fix(bff): remove deprecated throttler option
  apps/bff/src/app.module.ts
Owners: @paypay/maintainers

Adjust wallet throttling and disable sidebar prefetch
  apps/bff/src/app.module.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/wallets.controller.ts
  apps/frontend/components/shell/sidebar.tsx
Owners: @paypay/maintainers

Align wallet transaction cache and auth throttling
  apps/bff/src/app.module.ts
  apps/bff/src/app.throttler.guard.ts
  apps/bff/src/main.ts
  apps/bff/src/wallets/wallets.controller.ts
  apps/bff/test/app.throttler.guard.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/transactions-client.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/types.ts
  apps/frontend/e2e/wallet-transactions.spec.ts
Owners: @paypay/maintainers

Fix lint errors in BFF logger and throttler
  apps/bff/src/app.module.ts
  apps/bff/src/app.throttler.guard.ts
  apps/bff/src/main.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/transactions-client.tsx
Owners: @paypay/maintainers

Fix bff logging typings for nest build
  .gitignore
  apps/bff/src/app.module.ts
  apps/bff/src/main.ts
Owners: @paypay/maintainers

Handle BTC wallet summaries for read-only keys
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/e2e/wallet-settings.spec.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

fix: resolve btc wallet typecheck failures
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/settings/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/page.tsx
  apps/frontend/tsconfig.json
Owners: @paypay/maintainers, @paypay/frontend-leads

Remove redundant assertion in BTC wallet redirect
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
Owners: @paypay/maintainers

Show wallet success state on dashboard
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/e2e/dashboard-wallet-cta.spec.ts
  apps/frontend/e2e/sidebar-wallet-menu.spec.ts
  apps/frontend/e2e/wallet-redirect-no-wallet.spec.ts
  apps/frontend/lib/bff-fetch.ts
Owners: @paypay/maintainers

Restore 30s throttle window for wallet summary
  apps/bff/src/wallets/onchain-wallets.controller.ts
Owners: @paypay/maintainers

Lift wallet presence provider to dashboard layout
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/_client.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/dashboard/page.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/src/contexts/wallet-presence.tsx
Owners: @paypay/maintainers

Fix dashboard layout wallet presence import path
  apps/frontend/app/(dashboard)/layout.tsx
Owners: @paypay/maintainers

chore: set wallet presence headers via decorators
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/e2e/dashboard-wallet-cta.spec.ts
  apps/frontend/e2e/sidebar-wallet-menu.spec.ts
  apps/frontend/e2e/wallet-redirect-no-wallet.spec.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

test: cover wallet presence and cache guarantees
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
Owners: @paypay/maintainers

Handle wallet presence payload safely
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
Owners: @paypay/maintainers

Fetch BTC wallet presence from canonical config
  apps/bff/src/wallets/dto/wallet-presence.dto.ts
  apps/bff/src/wallets/legacy-onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
  apps/frontend/e2e/dashboard-wallet-cta.spec.ts
  apps/frontend/e2e/sidebar-wallet-menu.spec.ts
  apps/frontend/e2e/wallet-redirect-no-wallet.spec.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
  apps/frontend/lib/walletPaths.ts
Owners: @paypay/maintainers

Fix wallet presence lint issues
  apps/bff/src/wallets/legacy-onchain-wallets.controller.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/page.tsx
Owners: @paypay/maintainers

fix: refresh btc wallet presence from btcpay
  apps/bff/src/app.module.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/migrations/1731200000000-create-onchain-wallets.ts
  apps/bff/src/stores/managed-store.entity.ts
  apps/bff/src/wallets/dto/update-bitcoin-wallet.dto.ts
  apps/bff/src/wallets/dto/wallet-presence.dto.ts
  apps/bff/src/wallets/dto/wallet-transactions.dto.ts
  apps/bff/src/wallets/legacy-onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallet-read.service.ts
  apps/bff/src/wallets/onchain-wallet.entity.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/database/data-source.spec.ts
  apps/bff/test/onchain-wallet-read.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/layout.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/receive/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/send/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/settings/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/transactions/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/wallet-navigation.tsx
Owners: @paypay/maintainers

Fix lint issues in onchain wallet migration and tests
  apps/bff/src/migrations/1731200000000-create-onchain-wallets.ts
  apps/bff/test/onchain-wallets.service.spec.ts
Owners: @paypay/maintainers

fix: expose legacy BTC wallet overview proxy
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/wallets/legacy-onchain-wallets.controller.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/transactions-client.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/transactions/page.tsx
  apps/frontend/components/shell/sidebar.tsx
  apps/frontend/e2e/sidebar-wallet-menu.spec.ts
  apps/frontend/e2e/wallet-transactions.spec.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

Fix BTCPay proxy lint issues
  apps/bff/src/btcpay/btcpay.service.ts
Owners: @paypay/maintainers

fix: ensure btc wallet preview routes
  apps/bff/package.json
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/wallets/legacy-onchain-wallets.controller.ts
  apps/bff/src/wallets/wallet-preview.controller.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
  pnpm-lock.yaml
Owners: @paypay/backend-leads, @paypay/maintainers

fix: satisfy wallet preview lint rules
  apps/bff/src/wallets/wallet-preview.service.ts
Owners: @paypay/maintainers

Refactor BTC on-chain integration for BTCPay 2.x
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/_lib/get-wallet-presence.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

Improve BTCPay wallet preview and persistence
  apps/bff/src/app.module.ts
  apps/bff/src/auth/auth.controller.ts
  apps/bff/src/auth/cookies.util.ts
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/http/axios-exception.filter.ts
  apps/bff/src/wallets/dto/update-bitcoin-wallet.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/wallet-preview.controller.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.test.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/validation.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
  apps/frontend/lib/api.test.ts
  apps/frontend/lib/api.ts
  apps/frontend/lib/auth.ts
Owners: @paypay/maintainers

Align on-chain wallet routes with lowercase payment methods
  apps/bff/src/btcpay/btcpay.wallets.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/dto/wallet-transactions.dto.ts
  apps/bff/src/wallets/onchain-wallet-transactions.controller.ts
  apps/bff/src/wallets/wallet-preview.controller.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/src/wallets/wallets.module.ts
  apps/bff/test/btcpay.wallets.service.spec.ts
  apps/bff/test/onchain-wallet-transactions.e2e-spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/transactions-client.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/types.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/app/tenants/[tenantId]/stores/[storeId]/wallets/bitcoin/transactions/page.tsx
  apps/frontend/e2e/wallet-transactions.spec.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
  apps/frontend/lib/bff-fetch.ts
Owners: @paypay/maintainers

fix: allow bff fetch in client components
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/transactions/page.tsx
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/lib/bff-fetch.ts
Owners: @paypay/maintainers

Fix lint issues across BFF and frontend tests
  apps/bff/src/http/axios-exception.filter.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/dto/wallet-transactions.dto.ts
  apps/bff/src/wallets/onchain-wallet-transactions.controller.ts
  apps/frontend/e2e/wallet-wizard.spec.ts
  apps/frontend/lib/api.test.ts
Owners: @paypay/maintainers

feat(bff): switch on-chain wallet preview to new endpoints
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
Owners: @paypay/maintainers

Fix lint issues in BTCPay payment and wallet preview services
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/wallets/wallet-preview.controller.ts
  apps/bff/src/wallets/wallet-preview.service.ts
Owners: @paypay/maintainers

feat: update on-chain wallet preview integration
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
Owners: @paypay/maintainers

Fix BTCPay on-chain integration for BTC-CHAIN
  apps/bff/src/bootstrap/app-configuration.ts
  apps/bff/src/btcpay/btcpay-provisioning.service.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/btcpay/btcpay.wallets.service.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
Owners: @paypay/maintainers

fix wallet presence lookup and btcpay preview fallback
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/btcpay/btcpay.service.ts
  apps/bff/src/btcpay/btcpay.wallets.service.ts
  apps/bff/src/shared/is-uuid.ts
  apps/bff/src/wallets/onchain-wallet-read.service.ts
  apps/bff/src/wallets/onchain-wallets.controller.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/onchain-wallets.controller.spec.ts
  apps/bff/test/onchain-wallets.e2e-spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
Owners: @paypay/maintainers

Use GET when fetching wallet preview fallback
  apps/bff/src/btcpay/btcpay.constants.ts
  apps/bff/src/btcpay/btcpay.payment-methods.service.ts
  apps/bff/src/btcpay/btcpay.wallets.service.ts
  apps/bff/src/wallets/dto/preview-onchain.dto.ts
  apps/bff/src/wallets/onchain-wallets.service.ts
  apps/bff/src/wallets/wallet-preview.service.ts
  apps/bff/test/btcpay.payment-methods.service.spec.ts
  apps/bff/test/btcpay.wallets.service.spec.ts
  apps/bff/test/onchain-wallets.service.spec.ts
  apps/bff/test/stores.e2e-spec.ts
  apps/bff/test/stores.service.spec.ts
  apps/bff/test/tenants.onboarding.e2e-spec.ts
  apps/bff/test/tenants.service.spec.ts
  apps/bff/test/wallet-preview.e2e-spec.ts
  apps/bff/test/wallet-preview.service.spec.ts
  apps/frontend/app/(dashboard)/(stores)/stores/[storeId]/wallets/btc/wizard/page.tsx
  apps/frontend/e2e/wallet-wizard.spec.ts
Owners: @paypay/maintainers

Fix lint issues in BTCPay payment method tests
  apps/bff/test/btcpay.payment-methods.service.spec.ts
Owners: @paypay/maintainers

.github/CODEOWNERS:

# Default owners
* @paypay/maintainers

# Critical infrastructure
infra/* @paypay/devsecops
apps/bff/* @paypay/backend-leads
apps/frontend/* @paypay/frontend-leads
packages/sdk/* @paypay/platform
